body{
    font-family: 'Cabin', sans-serif;
    background-color: #EEEEEF;
}

a{
    text-decoration: none;
    color: black;
}

.wrapper{
    box-sizing: border-box;
    width: 1400px;
    margin: 0px auto;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: #10BBD5;
}

.header-content1{
    height: 72px;
    display: flex;
    padding: 16px 52px;
    align-items: center;
    background-color: #10BBD5;
    justify-content: space-between;
}

.back-menu-color{
    background-color: white;
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.cart span{
    color: white;
    
}

.cart-icon{
    position: relative;
}

.cart-icon button{
    border: none;
    background: none;
}

.cart-icon p{
    position: absolute;
    top: 8px;
    right: 15px;
    color: black;
    display: flex;
    font-size: 12px;
}

.header-content2{
    display: flex;
    height: 32px;
    justify-content: space-between;
    padding: 4px 52px;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

.header-right-content{
    display: flex;
    gap: 40px;
}

main{
    padding: 0px 52px;
    margin: 168px auto;
}

.main-header{
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 23px;
    margin-bottom: 24px;
}

.book-market{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.book{
    display: flex;
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

h2{
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line{
    height: 1px;
    background-color: #A8A8A8;
    margin: 5px 0px;
}

p{
    font-weight: 400;
    color: #8E8E8E;
    margin-bottom: 8px;
}

span{
    font-size: 24px;
    font-weight: 500;
    color: #E90000;
}

.btn-for-book{
    width: 242px;
    height: 40px;
    background-color: #4C394E;
    border-radius: 4px;
    color: white;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    border: none;
}

.book-img{
    display: flex;
    width: 242px;
    height: 280px;
    justify-content: center;
    position: relative;
}

.hit{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 36px;
    height: 32px;
    background-color: #4200FF;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}

.new{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 47px;
    height: 32px;
    background-color: #AF39E7;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}

.special-btn-for-book{
    width: 242px;
    height: 40px;
    background-color: #4D762D;
    border-radius: 4px;
    color: white;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    border: none;
}

.off{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 70px;
    height: 32px;
    background-color: #EA33C0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 40px;
}

.off-price{
    text-decoration: line-through;
    color: #8E8E8E;
    margin-left: 24px;
}

.special-off{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 70px;
    height: 32px;
    background-color: #EA33C0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 51px;
}

.spec-spec-off{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 70px;
    height: 32px;
    background-color: #EA33C0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}

.chat-icon{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #10BBD5;
    position: fixed;
    top: 707px;
    right: 273px;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 100;
}

footer{
    display: flex;
    background-color: #4C394E;
    padding: 36px 300px;
    justify-content: space-between;
}

.footer-text{
    color: white;
    font-size: 16px;
    font-weight: 400;
}